/*
* Base styles
*/

body{
	margin: 0;
	font-family: sans-serif;
}
h1, h2{
	margin-top: 0;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
}
ul{
	margin-bottom: 0;
}

.container{
	width: 1216px;
	margin: 0 auto;
}
img.spritesheet{
	display: none;
}

/*
* Header
*/

.header{
	background-color: darkolivegreen;
	color: white;
	padding-top: 32px;
	margin-bottom: 36px;
}
.brand{
	font-size: 2.3em;
	margin-top: 0;
}

/*
* Page Navigation
*/

.nav-list{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}
.nav-list li.active{
	font-weight: bold;
}
.tab{
	display: none;
}
.tab.active{
	display: block;
}

/*
* Setup for game section
*/
.game-section{
	padding-bottom: 200px;
}
.game-section, .game-container{
	position: relative;
}
.game-container{
	height: 800px;
}
/*
* canvas height and width must be set to pixel values
and through JavaScript or it will mess up rendering
*/
.game-canvas{
	image-rendering: pixelated;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#cursor-canvas{
	z-index: 100;
}
#unit-selection-canvas{
	z-index: 95;
}
#moving-unit-canvas{
	z-index: 90;
}
#unit-canvas{
	z-index: 80;
}
#terrain-canvas{
	z-index: 70;
}

/*
* Loading message
*/
.loading-message-container{
	display: none;
	text-align: center;
}
.loading .loading-message-container{
	display: flex;
	background-color: white;
	flex-direction: column;
	align-items: center;
	z-index: 110;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
html.loading{
	cursor: progress;
}
/*
* based on: https://www.w3schools.com/howto/howto_css_loader.asp
*/
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
* Main Menu
*/
.main-menu-container{
	display: none;
}
.menu-title{
	margin-bottom: 0;
}
.show-menu .main-menu-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 105;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
}
.main-menu-list{
	list-style-type: none;
	padding-left: 0;
}
.main-menu-list li, .nav-list li{
	cursor: pointer;
	padding: 1em 2em;
}
.main-menu-list li:hover, .nav-list li:hover, .nav-list li.active{
	background-color: black;
	color: white;
}

/*
* Game controls (end turn button)
*/
.game-controls-container{
	text-align: right;
	margin-bottom: 10px;
}