.DS_Store
.directory
.fuse_hidden
.fuse_hidden*
*.sublime-project
*.sublime-workspace
**/.sass-cache/*
.sass-cache
.sass-cache/*
node_modules/*
.npm-debug.log
.npm-debug*
Thumbs.db
*.pdf
*.kra
*.rb
*.kra~
*.png~

#compiled files
public_html/js/*
public_html/css/*