/*
* Base styles
*/

body{
	margin: 0;
	font-family: sans-serif;
}
h1, h2{
	margin-top: 0;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
}
ul{
	margin-bottom: 0;
	list-style-type: none;
	padding-left: 0;
}
p{
	margin-top: 0;
}

.container{
	width: 1216px;
	margin: 0 auto;
}
img.spritesheet{
	display: none;
}

/*
* Header
*/

.header{
	background-color: darkolivegreen;
	color: white;
	padding-top: 32px;
	margin-bottom: 36px;
}
.brand{
	font-size: 2.3em;
	margin-top: 0;
	text-shadow: 3px 3px #333;
}

/*
* Page Navigation
*/

.nav-list{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}
.nav-list li.active{
	font-weight: bold;
}
.tab{
	display: none;
}
.tab.active{
	display: block;
}

/*
* Setup for game section
*/
.game-section{
	padding-bottom: 200px;
}
.game-section, .game-container{
	position: relative;
}
.game-container{
	height: 800px;
}
.game-container.interaction-disabled{
	cursor: none;
}
/*
* canvas height and width must be set to pixel values
and through JavaScript or it will mess up rendering
*/
.game-canvas{
	image-rendering: pixelated;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#cursor-canvas{
	z-index: 100;
}
#unit-selection-canvas{
	z-index: 95;
}
#moving-unit-canvas{
	z-index: 90;
}
#unit-canvas{
	z-index: 80;
}
#terrain-canvas{
	z-index: 70;
}

/*
* Loading message
*/
.loading-message-container{
	display: none;
	text-align: center;
}
.loading .loading-message-container{
	display: flex;
	background-color: white;
	flex-direction: column;
	align-items: center;
	z-index: 110;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
html.loading{
	cursor: progress;
}
.loading-message-container .menu-title{
	margin-bottom: 1em;
}
/*
* based on: https://www.w3schools.com/howto/howto_css_loader.asp
*/
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
* Main Menu
*/
.menu-container{
	display: none;
}
.menu-title, .section-title{
	text-shadow: 1px 1px #ddd;
}
.menu-container .menu-title{
	margin-bottom: 0;
}
.main-menu .main-menu-container, .load-game-menu .load-game-container, .difficulty-menu .difficulty-level-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 120;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
}
.main-menu-list{
	list-style-type: none;
	padding-left: 0;
}
.main-menu-list li, .nav-list li, .menu-item{
	cursor: pointer;
	padding: 1em 2em;
}
.main-menu-list li:hover, .nav-list li:hover, .nav-list li.active, .menu-item:hover{
	background-color: black;
	color: white;
}
.menu-item{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/*
* Load game menu
*/

.menu-item.back-button{
	margin-bottom: 5px;
}

.load-game-list li{
	display: flex;
	justify-content: space-between;
}

.menu-item.menu-item-danger:hover{
	background-color: crimson;
}
.save-game-info{
	color: grey;
}

/*
* Game controls (end turn and save game buttons)
*/
.game-controls-container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

/*
* Modal Windows
*/
.modal-overlay, .modal-window{
	display: none;
}

.show-modal .modal-overlay{
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: 0.7;
	z-index: 200;
}
.show-modal .modal-window{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: fixed;
	z-index: 210;
	background-color: white;
	width: 600px;
	left: calc(50% - 300px);
	height: 350px;
	top: calc(50% - 175px);
	border-radius: 4px;
}
.modal-window > div{
	flex-basis: 100%;
}
.modal-text-container{
	padding: 40px;
	text-align: center;
}
.modal-input-container{
	display: none;
}
.modal-window.prompt .modal-input-container{
	display: block;
	text-align: center;
}

.modal-button-container{
	display: flex;
	justify-content: center;
	align-self: flex-end;
	padding: 16px 0;
}
.modal-window.alert #modal-button-cancel{
	display: none;
}
#modal-button-cancel{
	margin-right: 20px;
}

/*
* Text overlay for turn text and win/lose screen
*/

.text-overlay-container{
	display: none;
}
.show-text-overlay .text-overlay-container{
	display: block;
	overflow: hidden;
	z-index: 110;
}

.text-overlay-container, .text-overlay-message-container, .text-overlay-background{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.text-overlay-message-container{
	text-align: center;
	padding-top: 150px;
}

.text-overlay-heading{
	font-size: 2.50em;
	text-shadow: 2px 2px #ccc;
}

.text-overlay-container.show-heading-animation .text-overlay-heading{
	animation: text-overlay-heading-animation 2.6s ease-in-out;
}

.text-overlay-button{
	display: none;
	background-color: white;
}

.text-overlay-container.show-menu .text-overlay-button{
	display: inline-block;
}

@keyframes text-overlay-heading-animation {
  0%   { transform: translateX(-2000px); }
  20%   { transform: translateX(0px); }
  80%   { transform: translateX(0px); }
  100% { transform: translateX(2000px); }
}

/* 
* Modal for Briefings
*/

.modal-briefings {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.briefings-content {
  background-image: url("../images/briefing-paper.png");
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  font-family: 'Orbitron', sans-serif;
}


/*
*Close Briefings Modal
*/

.ready {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ready:hover,
.ready:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}